@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

#rightdisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
}

#customers{
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* background-color: red; */
}

.customer_lists {
  /* margin: 80px;
  overflow: visible;
  white-space: nowrap; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  /* background-color: yellow; */
}

.money {
  color: green;
  font-size: larger;
}

.bold {
  font-weight: bold;
}

.weather_items {
  margin-top: -3px;
  font-size: x-large;
  font-weight: bolder;
}

.paper {
  opacity: 0.8;
  color: white;
  margin-top: 0px;
}

#instructions {
  margin-top:0px;
  width: 30%;
  /* background-color: yellow; */
}

#instructions span {
  font-weight: bold;
}

#maindisplay {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

#menu-display {
  background-color: black;
  border-style: solid;
  border-color: rgb(151, 74, 11);
  border-width: 10px;
  margin: 10px;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 100%;
}

#menuheader {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 15px;
}

#eod {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  margin-bottom: -30px;
  /* background-color: red; */
}

#quantity_input {
  margin-top: 6px;
}